

body{
    display:flex;
    justify-content:center;
    align-items:center;

    height:100vh;
    background:linear-gradient(135deg, #71b7e6, #9b59b6);
}

.form-back{
    background-color: #fff;
    border-radius:12px;

    width:75%;
    margin: auto;
    padding:40px 20px 50px 20px;
}

label{
    font-size: 1.3rem;
}

.form-group{
    width:95%;
    margin: auto;
    display:flex;
    align-items:center;
    column-gap:7px;
}

.form-header{
    font-size:1.8rem;
    font-weight:500;
    margin-bottom:20px;
    margin-left:25px;
}

.checkbox{
    width:95%;
    margin-top: 10px;
    margin-left:auto;
}

.chckbox-header{
    font-size:1.4rem;
}


.boxes{
    display:flex;
    align-items:center;
    justify-content: start;
    column-gap:55px;
    width:50%;
}

.box{
    display:flex;
    align-items:center;
    justify-content: start;
    width:25%;
}

.box label[for="read"]{
    margin-right:-5px;
}

.box label{
    white-space:nowrap;
    margin-right:2px;
}

input[type="checkbox"]{
    min-height: 24px;
    min-width: 24px;
}

input{
    width:100%;
    padding:5px;
    height:35px;

    border:1px solid #ccc;
    border-radius:8px;
    margin-block:20px;
}


input[type="search"]{
    width:100%;
    padding:8px;
    height:45px;
    margin-top:70px;
}

.btn-container{
    display:flex;
    justify-content: center;
    margin-top:10px;
}

.btn{
    background-color:#71b7e6;
    font-size:1.3rem;
    color:#fff;

    border-radius: 8px;
    border:none;

    padding:12px;
    width:95%;
}